.social-media, footer h1 p, footer h1, .youtube, .nav, .header {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(0, 0, 0);
}

.header {
  padding: 20px;
  width: 100%;
  padding-bottom: 50px;
}

.nav {
  flex-wrap: wrap;
}
.nav li {
  display: inline;
  padding: 15px;
  font-size: 20px;
}
.nav li a {
  color: whitesmoke;
  text-decoration: none;
}
.nav li a:hover {
  color: rgb(105, 4, 4);
}

.logo {
  width: 100%;
  height: 100px;
}

.social-media, footer h1 p, footer h1, .youtube, .header, .nav {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  max-height: 50rem;
}
.carousel-inner img {
  max-height: 800px;
}

.imagen-inicio img {
  width: 100%;
  max-height: 500px;
  padding-top: 100px;
}

.youtube {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.youtube img {
  width: 100%;
  border-radius: 20px;
}

footer {
  background-color: rgba(165, 33, 33, 0.479);
  color: grey;
  padding-bottom: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.social-media {
  padding: 20px;
}
.social-media img {
  padding: 20px;
}

.spotify {
  padding: 20px;
  padding-top: 100px;
}

.btn {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.card img:hover {
  opacity: 70%;
}

.header, .nav, .youtube, footer h1, footer h1 p, .social-media {
  display: flex;
  justify-content: center;
}

.galeria-imagenes img {
  padding: 20px;
  width: 100%;
  border-radius: 100px;
}

.header, .nav, .youtube, footer h1, footer h1 p, .social-media {
  display: flex;
  justify-content: center;
}

.buzos {
  padding: 50px;
}

.remeras {
  padding-top: 50px;
}

.header, .nav, .youtube, footer h1, footer h1 p, .social-media {
  display: flex;
  justify-content: center;
}

.tour {
  color: whitesmoke;
}
.tour h1 {
  color: rgb(145, 37, 37);
}

.pos-tickets {
  color: rgb(145, 37, 37);
}

.header, .nav, .youtube, footer h1, footer h1 p, .social-media {
  display: flex;
  justify-content: center;
}

.historia {
  color: grey;
  display: flex;
  flex-direction: column;
}

.historia h1 {
  color: #912525;
  display: flex;
  justify-content: center;
}

.historia p {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.historia span {
  color: rgb(145, 37, 37);
}

.header, .nav, .youtube, footer h1, footer h1 p, .social-media {
  display: flex;
  justify-content: center;
}

.videos {
  padding-top: 100px;
}

.header, .nav, .youtube, footer h1, footer h1 p, .social-media {
  display: flex;
  justify-content: center;
}

.formulario {
  width: 400px;
  padding: 30px;
  margin: auto;
  padding-bottom: 150px;
}

.formulario h4 {
  color: #912525;
  text-align: center;
  font-size: 30px;
}

.formulario input {
  font-size: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(145, 37, 37);
}

.boton {
  background-color: rgb(145, 37, 37);
}

.boton:hover {
  background-color: darkred;
}

.formulario-parrafo {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  color: whitesmoke;
  margin: 20px;
}

.carrito-imagen {
  display: flex;
  justify-content: center;
  max-width: 60px;
  padding-top: 20px;
}

/*# sourceMappingURL=style.css.map */
