.historia {
    color: grey;

    h1 {
        color: rgb(145, 37, 37) ;

    }
}

.discografia {
    p {
        font-size: 20px;

        span {
            color: rgb(145, 37, 37) ;
        }
    }
}

.filmografia span {
    color: rgb(145, 37, 37) ;
}