@import '../base/variables';

.historia {
    color: grey;

    h1 {
        color: $color-titulos ;

    }
}

.discografia {
    p {
        font-size: 20px;

        span {
            color: $color-titulos ;
        }
    }
}

.filmografia span {
    color: $color-titulos ;
}