@import '../base/variables';

.historia {
    color: grey;
    display: flex;
    flex-direction: column;
  }
  .historia h1 {
    color: #912525;
    display: flex;
    justify-content: center;
  }
  
  .historia p {
    display: flex;
    justify-content: center;  
    padding: 20px;
    text-align: center;
  }
  
  .historia span {
    color: rgb(145, 37, 37);
  }
