@import '../base/variables';

.tour {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}

.tour h3 {
    color: $color-titulos ;
}

.pos-tickets {
    color: $color-titulos ;
}

.tour-titulo {
    color: $color-titulos ;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

