@import '../base/variables';
@import '../base/mapa';

.container {
    display: flex;
    padding-top: 20px;
    width: 100%;
    justify-content: space-around;
}

.container button {
    font-size: 12px;
}

.container aside {
    color: whitesmoke; }

    h2 {
        color: $color-titulos;
        display: flex;
        justify-content: center; }

        p {
            display: flex;
            justify-content: center;
        }

main {
    width: 100%;
}
        


    







