@import '../base/variables';
@import '../base/mapa';

.buzos {
    padding: map-get($margen-merch, margenes)
}

.remeras {
    padding-top: 50px;
}

.carrito-imagen {
    display: flex;
    max-width: 60px;
    padding-top: 20px;
  }
  